* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --wall-text: white;
    --bg-super: rgb(235, 32, 157);
    --bg-secondary: rgb(110, 247, 110);
    --dark-txt: black;
    --bg-ashes: rgb(168, 156, 156);
}

body {
    background-image: url('../images/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 75vh;
}

.navbar {
    border: 3px solid var(--bg-secondary);
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    background-color: var(--bg-ashes);
}

.navbar:hover {
    background-color: var(--bg-super);
}

.nav-item {
    border: 3px solid var(--bg-secondary);
    border-radius: 20px;
    margin-left: 12px;
}

.nav-item a {
    color: var(--wall-text);
}

.nav-item a:hover {
    background-color: var(--bg-secondary);
    border-radius: 10px;
}

.dropdown-menu>a {
    background-color: var(--bg-ashes);
}

.dropdown-menu>a:hover {
    border-radius: 0;
}

.wall-text {
    color: var(--wall-text);
    position: absolute;
    margin: 10% 0% 0% 31%;
    margin-bottom: 60px;
}

#wall-text h1 {
    text-decoration: underline;
    word-spacing: 20px;
    letter-spacing: 10px;
    font-weight: 15px;
    font-size: 50px;
    animation: text-open 2s 1;
}

#wall-text h5 {
    color: var(--bg-secondary);
    /*background-color: var(--bg-super);*/
    font-weight: 15px;
    position: relative;
    opacity: 10px;
    text-align: center;
    animation: text-center 5s 1;
}

#wall-text p {
    color: var(--bg-super);
    background-color: var(--bg-secondary);
    font-weight: 15px;
    position: relative;
    opacity: 10px;
    text-align: center;
    animation: text-center-right 10s 1;
    margin-left: 0%;
}

.box-wrapper {
    background-color: var(--dark-txt);
    margin: 10% 0% 0% 0%;
}

.grid-1 {
    border: 2px solid var(--dark-txt);
    color: var(--wall-text);
    position: absolute;
    margin: 25% 0% 0% 0%;
    margin-left: 0%;
}

.grid-2 {
    border: 2px solid var(--dark-txt);
    color: var(--wall-text);
    position: absolute;
    margin: 50% 0% 0% 0%;
    margin-left: 0%;
    margin-bottom: 20px;
}

.f-grid {
    background-color: var(--bg-ashes);
}

.m-grid {
    background-color: var(--bg-secondary);
}

.l-grid {
    background-color: var(--bg-super);
}

.btn-super {
    background-color: var(--bg-super);
    color: var(--wall-text);
    border-radius: 20px;
}

.btn-sec {
    background-color: var(--bg-secondary);
    color: var(--wall-text);
    border-radius: 20px;
}

.btn-dark {
    border-radius: 20px;
}

@keyframes text-open {
    0% {
        color: var(--bg-super);
        margin-bottom: -40px;
    }
    25% {
        color: var(--bg-secondary);
        letter-spacing: 20px;
        margin-bottom: -40%;
    }
    50% {
        color: var(--bg-secondary);
        letter-spacing: 20px;
        margin-bottom: -40%;
        margin-left: 10px;
    }
}

@keyframes text-center {
    0% {
        margin-left: 100px;
    }
    25% {
        margin-left: 100px;
    }
}

@keyframes text-center-right {
    0% {
        color: white;
        margin-right: 100px;
    }
    25% {
        margin-right: 100px;
        text-decoration: bold;
    }
    50% {
        color: var(--dark-txt);
    }
}

.the_footer {
    margin-top: 75%;
}